/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.game-photo {
    margin-bottom: 20px; /* Espaçamento entre a foto e o texto */
    text-align: center;
}

.game-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.game-info {
    text-align: justify; /* Justifica o texto */
}

.game-info h2 {
    font-size: 20px;
    margin-top: 0;
}

.game-info p {
    margin-bottom: 10px; /* Espaçamento entre os parágrafos */
}
